.form-inline{
display: flex;
justify-content: center;
padding-top: 20px;
position: absolute;
text-align: center;
bottom: 450px;
left: 0;
right: 0;

}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 500px;
    left: 0;
    right: 0;
    color: rgb(209, 16, 16);
}
.nav, .main {
    background-color: #f6f6f6;
    text-align: center;
}

.outline {
    outline: #00FF00 dotted thick;
    padding-left: 40px;
}

.album-price{
    display: flex;
    justify-content: flex-start;
    justify-content: space-between;
    padding-right: 40px
}